/* Converted SCSS variables to CSS custom properties */
:root {
  --light-bg: #d9e4ea;
  --dark-bg: #333333;
  --gray: #bdbdbd;
  --black: #0d0b0d;
  --green: #0ecb66;
  --red: #fa4f23;
  --blue: #0b98dd;
  --white: #ffffff;
  --light-bg-02: #cbc9c9;

  --block-height: calc((100vh / 9) - 11px);
  --block-min-height: 55px;
  --block-max-height: 84px;
  --block-height-header: calc(100vh / 9);
  --split-btn-hover: #26adef;
}
