  $light-bg: #D9E4EA; 
  $dark-bg: #333333; 
  $gray: #BDBDBD; 
  $black: #0D0B0D; 
  $green: #0ECB66; 
  $red: #FA4F23;
  $blue: #0B98DD;
  $white: #ffffff;
  $light-bg-02: #CBC9C9;

  $media-query-mobile: only screen and (max-width: 600px);

  $block-height: calc((100vh / 9) - 11px);
  $block-min-height: 55px;
  $block-max-height: 84px;
  $block-height-header: calc(100vh / 9);