:host {
  --light-bg: #d9e4ea;
  --dark-bg: #333333;
  --gray: #bdbdbd;
  --black: #0d0b0d;
  --green: #0ecb66;
  --red: #fa4f23;
  --blue: #0b98dd;
  --white: #ffffff;
  --light-bg-02: #cbc9c9;
  --block-height: calc((100vh / 9) - 11px);
  --block-min-height: 55px;
  --block-max-height: 84px;
  --block-height-header: calc(100vh / 9);
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.App {
  background: black;
  padding: 3px;
  width: 400px;
  box-shadow: 0 0 17px 4px white;
  border-radius: 10px;
}

:host(.menuOpened) .App {
  transform: translate3d(-25vw, -50%, 0);
}

.bg {
  display: none;
  background-color: var(--black);
  width: 100%;
  max-width: 414px;
  margin: 0 auto;
  padding: 3px;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 24px;
  border-radius: 9px;
  padding-bottom: 38px;
  position: relative;
  border: 10px solid var(--light-bg);
  box-shadow: 0px 0px 40px var(--white);
  transform: translate3d(-50%, -50%, 0);
  transition: transform 500ms ease;
  left: 50%;
  top: 50%;
  position: absolute;
}

.App .bg {
  background-color: var(--black);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 9px;
  left: 0;
  top: 0;
}

.App header {
  margin-bottom: 3px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.App header .wrap-logo {
  display: grid;
  width: 100%;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
}

.App header .wrap-logo .logo {
  height: 70%;
}

.App .block {
  background-color: white;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 0 29px;
  display: flex;
  height: var(--block-height);
  min-height: var(--block-min-height);
  max-height: var(--block-max-height);
  justify-content: center;
  align-items: center;
  margin: 0;
}

.App .input {
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  outline: none;
  position: relative;
}

.App .input::-webkit-outer-spin-button,
.App .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App .input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.App .input::placeholder {
  color: var(--gray);
}

.App .input.firstSalaryField,
.App .input.secondSalaryField {
  color: var(--green);
}

.App .input.expensesField {
  color: var(--red);
}

.App .split-btn {
  height: var(--block-height);
  min-height: var(--block-min-height);
  max-height: var(--block-max-height);
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  background-color: var(--blue);
  color: var(--light-bg);
  border: 0;
  outline: 0;
  margin-bottom: 3px;
  cursor: url(/cursor-red.png), auto;
}

.App .split-btn:hover,
.App .split-btn:focus {
  background-color: #0a8ac5;
}

.incomings {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrap-income {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: minmax(43%, 1fr) minmax(calc(57% - 3px), 1fr);
  height: var(--block-height);
  min-height: var(--block-min-height);
  max-height: var(--block-max-height);
  margin-bottom: 3px;
}

.label,
.income {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.label {
  justify-content: center;
}

.income {
  color: var(--green);
  justify-content: flex-end;
}

.expenses {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: minmax(43%, 1fr) minmax(calc(57% - 3px), 1fr);
  height: var(--block-height);
  min-height: var(--block-min-height);
  max-height: var(--block-max-height);
  margin-bottom: 3px;
}

.expenses.active .value::before {
  opacity: 1;
  animation: blink-animation 1s steps(5, start) infinite;
}

.expenses .label {
  background-color: var(--red);
  color: var(--black);
}

.expenses .value {
  background-color: var(--black);
  color: var(--red);
  justify-content: flex-end;
  position: relative;
}

.expenses .value::before {
  content: '';
  width: 4px;
  height: 40px;
  background-color: var(--red);
  margin-right: 5px;
  opacity: 0;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.results {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.results .title {
  margin-bottom: 3px;
}

.results .wrap-results {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: minmax(43%, 1fr) minmax(calc(57% - 3px), 1fr);
  height: var(--block-height);
  min-height: var(--block-min-height);
  max-height: var(--block-max-height);
  margin-bottom: 3px;
}

.results .wrap-results .value {
  justify-content: flex-end;
  color: var(--blue);
}

.results .percent-each {
  margin-bottom: 3px;
}

.results .wrap-buttons {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: minmax(calc(67% - 3px), 1fr) minmax(33%, 1fr);
  height: var(--block-height);
  min-height: var(--block-min-height);
  max-height: var(--block-max-height);
  margin-bottom: 3px;
}

.results .wrap-buttons .share {
  background-color: var(--blue);
  color: var(--white);
}

.results .wrap-buttons .clear {
  background-color: var(--red);
  color: var(--black);
}
